<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Skills</h4>
      <i class="devicon-django-plainsharp-plain colored"></i>
      <i class="devicon-mysql-plainsharp-plain colored"></i>
      <i class="devicon-linux-plainsharp-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-python-plainsharp-plain colored"></i>
      <i class="devicon-csharp-plainsharp-plain colored"></i>
      <i class="devicon-cplusplus-plainsharp-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-visualstudio-plainsharp-plain colored"></i>
      <i class="devicon-pycharm-plainsharp-plain colored"></i>
      <i class="devicon-vim-plaindevicon-pycharm-plainsharp-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>