<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Skills</h4>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I studied django. I thought database is near necessity for application program, web ... I selected mysql because it is most common. Linux is basic skill and I can handle it(ubuntu, redhat, etc..).</p>
    </div>
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>I love python(exactly python 3.-). I am intersted in C#, I know just a little bit of C++.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-pycharm-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>I usually code with Visual Studio and Pycharm(little Sublime Text). In Linux, I use VIM. </p>
    </div>
  </div>
</div>